/*++++++++++++  For general use  ++++++++++++++++++++++++++++++*/
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}

.head-two {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.head-three {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.descripsion {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  padding-left: 0;
  padding-right: 0;
}
.section {
  padding-bottom: 96px;
  padding-top: 96px;
}

.social-links .icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .icon-link:hover,
.social-links .icon-link:focus {
  background-color: #404bbf;
}

.social-links .icon {
  fill: #f4f4fd;
}
/*============  End For general use   =============================*/

/* ++++++++++++ HEADER MOBILE STYLES +++++++++++++++++++ */
.nav-bar {
  display: none;
}
.addr {
  display: none;
}
.page-header {
  height: 56px;
  display: flex;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.container-header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-header-spn {
  color: #2e2f42;
}
.logo:focus .logo-header-spn,
.logo:hover .logo-header-spn {
  color: #404bbf;
}

.nav-links {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links:hover,
.nav-links:focus {
  color: #404bbf;
}
.contacts {
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*==========   END HEADER MOBILE STYLES   ============= */

/* ++++++++++++++ HERO MOBILE SECTION    ++++++++++++++++ */
.hero {
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 320px;
  max-height: 432px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg@2x.jpg);
  }
}

.hero-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 224px;
  margin-right: auto;
  margin-top: 72px;
  margin-bottom: 72px;
  margin-left: auto;
}
.btn {
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.btn:focus {
  background: #404bbf;
}

.btn:hover {
  background: #404bbf;
}
/* ==============  HERO MOBILE SECTION   ================ */

/*++++++++++++++++++    0 ....768px    +++++++++++++++++++++*/

@media screen and (max-width: 768px) {
  /* ++++++++ MOBILE MENU+++++++++ */
  .mobile-open-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }

  .mobile-open-btn-icon {
    fill: #2f2f37;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    position: relative;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 0;
    background-color: #e7e9fc;
    opacity: 0.1;
    border: 1px solid #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-close-btn-icon {
    fill: #2e2f42;
  }
  .menu-nav-container {
    margin-left: 16px;
  }

  .menu-list {
    margin-top: 72px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .adress {
    font-style: normal;
    margin-top: 168px;
  }
  .adress-list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .contacts:focus,
  .contacts:hover {
    color: #4d5ae5;
  }

  .menu-icon {
    display: flex;
    gap: 24px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  }
  /* ===========END MOBILE MENU========================= */
}
/*=================   0 ....768px    ====================*/

@media screen and (min-width: 320px) and (max-width: 768px) {
  .menu-icon {
    gap: 40px;
  }
}

/* ++++++++++++ 320px ....& +++++++++++++++++++ */
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

/* ++++++++++++ TABLET STYLES +++++++++++++++++++ */
@media screen and (min-width: 768px) {
  /* ++++++++++++ HEADER TABLET STYLES +++++++++++++++++++ */
  .page-header {
    height: 72px;
  }
  .container {
    width: 800px;
    margin: 0 auto;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
  .nav-bar {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
  .nav-links {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }

  .studio::after {
    display: block;
    width: 48px;
    height: 4px;
    margin-top: 20px;
    background-color: #404bbf;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
  }
  .nav-links:hover,
  .nav-links:focus {
    color: #404bbf;
  }
  .addr {
    display: flex;
    font-style: normal;
    margin-left: auto;
  }

  .addr-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  .contacts:focus,
  .contacts:hover {
    color: #404bbf;
  }

  .mobile-menu {
    display: none;
  }
  .mobile-open-btn {
    display: none;
  }
  /* ============== End HEADER TABLET STYLES ============== */

  /* +++++++++++++++ HERO TABLET SECTION  ++++++++++++++++ */
  .hero {
    max-width: 768px;
    max-height: 436px;

    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    text-transform: none;
    margin-top: 112px;
    margin-bottom: 36px;
  }
  .btn {
    margin-bottom: 112px;
  }

  /* =============== END HERO TABLET SECTION  ================ */
}
/* ============== End TABLET STYLES ============== */

/* ++++++++++++ DESKTOP STYLES +++++++++++++++++++ */
@media screen and (min-width: 1158px) {
  /* ++++++++++++ HEADER DESKTOP STYLES +++++++++++++++++++ */
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo {
    margin-right: 76px;
  }
  .addr-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  /* ============== End HEADER DESKTOP STYLES ============== */
  /* ++++++++++++++ HERO TABLET SECTION  ++++++++++++++ */
  .hero {
    max-width: 1440px;
    max-height: 600px;

    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office1@2x.jpg);
    }
  }

  .hero-title {
    max-width: 496px;
    margin-top: 188px;
    margin-bottom: 48px;
  }
  .btn {
    margin-bottom: 188px;
  }
  /*============= HERO TABLET SECTION ============= */
}
/* ============== End DESKTOP STYLES ============== */
